# venv
.venv/

# secrets
secrets/

# logs and caches
*.log
__pycache__/
*.pyc
.pytest_cache/

# macOS metadata
.DS_Store

# database
tables.db

# temp folders and python metadata
dist/
build/
*.egg-info/

# container stuff, not going to be used
.containerignore
Containerfile
